POSTGRES_DB=codearena
POSTGRES_USER=codearena_user
POSTGRES_PASSWORD=changeme
JWT_SECRET=supersecretkey_min32chars_codearena2026
JWT_EXPIRY_HOURS=24
FRONTEND_URL=http://localhost:4200
MAX_FILE_SIZE_MB=5
UPLOADS_PATH=/app/uploads
