POSTGRES_DB=codearena
POSTGRES_USER=codearena_user
POSTGRES_PASSWORD=changeme
JWT_SECRET=supersecretkey_min32chars_codearena2026
JWT_EXPIRY_HOURS=24
FRONTEND_URL=http://localhost:4200
MAX_FILE_SIZE_MB=5
UPLOADS_PATH=/app/uploads

# Redis (Sprint INFRA)
REDIS_CONNECTION=redis:6379

# Email SMTP (Sprint V2-1)
SMTP_HOST=smtp-relay.brevo.com
SMTP_PORT=587
SMTP_USER=votre@email.com
SMTP_PASSWORD=votre_smtp_password
SMTP_FROM=CodeArena <noreply@bissaye.online>
APP_URL=https://codearena.bissaye.online
